.servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
  }


  .servicio {
    background: var(--blanco);
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .servicio:hover {
    transform: translateY(-5px);
  }
